
.idea/causal-inference.iml
.idea/modules.xml
estimating-the-profitability-of-discounts/.idea/vcs.xml
estimating-the-profitability-of-discounts/.idea/workspace.xml
.idea/.name
.DS_Store
.idea/vcs.xml
.idea/workspace.xml
manning-causal-series-facure/1-estimating-the-profitability-of-discounts/.idea/vcs.xml
manning-causal-series-facure/1-estimating-the-profitability-of-discounts/.idea/workspace.xml
.DS_Store
.DS_Store
.idea
